{% extends 'base.html' %}

{% block content %}
      <div class="container" style="padding: 50px;">
        {% if user.is_authentcated %}

        <h2 class="test-center">
            Automate The Boring Stuff With Django
        </h2>

        <div class="row-pt-5">

            <!--import data-->

            <div class="col-md-4">
                <a href="{% url 'import_data' %}" class="test-decoration-none text-dark">
                    <div class="card alert-primary shadow">
                        <div class="card-header">
                            <h4>Import Data</h4>
                        </div>
                        <div class="card-body">
                            <p class="card-text">Imports data from CSV file to any table.</p>
                        </div>
                    </div>
                </a> 
            </div>

             <!--export data-->

            <div class="col-md-4">
                <a href="{% url 'export_data' %}" class="test-decoration-none text-dark">
                    <div class="card alert-success shadow">
                        <div class="card-header">
                            <h4>Export Data</h4>
                        </div>
                        <div class="card-body">
                            <p class="card-text">Exports data from a specific table to a CSV file.</p>
                        </div>
                    </div>
                </a> 
            </div>

             <!--Bulk Email-->

            <div class="col-md-4">
                <a href="#" class="test-decoration-none text-dark">
                    <div class="card alert-danger shadow">
                        <div class="card-header">
                            <h4>Bulk Email</h4>
                        </div>
                        <div class="card-body">
                            <p class="card-text">Send Bulk Email to users.</p>
                        </div>
                    </div>
                </a> 
            </div>

            <!--Email Tracking-->

            <div class="col-md-4">
                <a href="#" class="test-decoration-none text-dark">
                    <div class="card alert-danger shadow">
                        <div class="card-header">
                            <h4>Email Tracking</h4>
                        </div>
                        <div class="card-body">
                            <p class="card-text">Track Email and Shows open and click rate.</p>
                        </div>
                    </div>
                </a> 
            </div>

            <!--Compress Images-->

            <div class="col-md-4">
                <a href="#" class="test-decoration-none text-dark">
                    <div class="card alert-danger shadow">
                        <div class="card-header">
                            <h4>Compress Images</h4>
                        </div>
                        <div class="card-body">
                            <p class="card-text">Compresses image files and reduces the size.</p>
                        </div>
                    </div>
                </a> 
            </div>

            <!--Web Scraping-->

            <div class="col-md-4">
                <a href="#" class="test-decoration-none text-dark">
                    <div class="card alert-danger shadow">
                        <div class="card-header">
                            <h4>Web Scraping</h4>
                        </div>
                        <div class="card-body">
                            <p class="card-text">Scrapes websites for useful information.</p>
                        </div>
                    </div>
                </a> 
            </div>
            {% else %}
            <div class="home-info">
                <h2 class="test-center"> Automate the boring stuff with django
                </h2>
                <p class="lead text-center text-muted">
                    "Automate the Boring Stuff with Django" refers to using the Django web framework to handle repetitive web-related tasks or building custom tools for business automation. While Al Sweigart's original Automate the Boring Stuff with Python focuses on local scripts, 
                    the Django-specific approach shifts these tasks into a web-based environment.
                </p>
                <div style="display: flex; justify-content: center;">
                    <a href="{% url 'login' %}" class="btn btn-primary">LOGIN</a>
                    &nbsp;<a href="{% url 'register' %}" class="btn btn-success">REGISTER</a>
                </div>
            </div>
            {% endif %}
        </div>                               

                    

                                   
    
{% endblock %}